<h1 id="tableLabel">Reporte</h1>


<p *ngIf="!reporte?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="reporte.length">
  <thead>
    <tr>
      <th>Estacion</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of reporte">
      <td>{{ forecast.estacion }}</td>
      <td>{{ forecast.fecha }}</td>
      <td>{{ forecast.cantidad }}</td>
      <td>{{ forecast.valor }}</td>
    </tr>
  </tbody>
</table>
