<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-lg-6">
    <app-conteo></app-conteo>
  </div>
  <div class="col-lg-6">
    <app-recaudo></app-recaudo>
  </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-12">
     <app-reporte></app-reporte>
  </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
